
<md-sidenav-container>
  <md-sidenav #sidenav mode='push'>
    <app-sidebar></app-sidebar>
  </md-sidenav>
  <div class = 'site'>
    <header>
      <app-header></app-header>
    </header>
    <main >
      <div></div>
      <div></div>
      <div></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <button (click) = "sidenav.open()">Open Side Bar</button>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>